@import url(styles/index.css);



/* Centralização vertical removida e melhor posicionamento do conteúdo */
body {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #1f0141 0%, #090a0f 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 0vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza horizontalmente */
  justify-content: flex-start; /* conteúdo começa no topo */
}

#resultContainer {
  width: 100%;
  max-width: 600px;
  padding: 40px 20px 100px;
  box-sizing: border-box;
  margin-top: 0px;
}

.result-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}


#finalContent {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: start;
  align-items: start;
  min-height: 0vh;
  /* padding: 40px; */
  box-sizing: border-box;
}

.fade-in {
  animation: fadeIn 0.8s ease forwards;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#launchParticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* EFEITO DE ZOOM DO RESULTADO FINAL */
#finalContent {
  transform-origin: center center;
  transition: transform 1.2s ease;
}
